<div class="login">
  <form nz-form nzLayout="vertical" #f="ngForm" (submit)="submit()">
    <nz-form-item>
      <nz-form-label nzFor="username"><label class="requis"> Username</label></nz-form-label>
      <nz-form-control>
        <input #username="ngModel" [(ngModel)]="model.username" class="ant-input" id="username" name="username"
               required type="text">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password"><label class="requis"> Mot de passe</label></nz-form-label>
      <nz-form-control>

        <input #password="ngModel" [(ngModel)]="model.password" class="ant-input" id="password" name="password"
               required type="password">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button class="login-button" type="submit" nz-button nzType="default" [disabled]="f.form.invalid"
          (submit)="submit()">Connexion</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <p class="divider">Pas encore enregistré ?</p>

  <!-- TODO Rediriger sur la page de login au clic sur le bouton -->
  <button (click)="goToRegistration()" class="register-button" nz-button nzType="primary">Créer un compte</button>
</div>
